@font-face {
  font-family: "iconfont"; /* Project id 3634156 */
  src: url('iconfont.woff2?t=1665718811961') format('woff2'),
       url('iconfont.woff?t=1665718811961') format('woff'),
       url('iconfont.ttf?t=1665718811961') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_settings:before {
  content: "\e613";
}

.icon-ic_revoke:before {
  content: "\e652";
}

.icon-ic_touch_dot:before {
  content: "\e651";
}

.icon-ic_interaction:before {
  content: "\e650";
}

.icon-ic_eye_visible:before {
  content: "\e611";
}

.icon-ic_eye_invisible:before {
  content: "\e612";
}

.icon-ic_man:before {
  content: "\e64e";
}

.icon-ic_woman:before {
  content: "\e64f";
}

.icon-ic_close:before {
  content: "\e64c";
}

.icon-ic_down:before {
  content: "\e64d";
}

.icon-ic_more:before {
  content: "\e64a";
}

.icon-ic_arrow_down1:before {
  content: "\e64b";
}

.icon-ic_arrow_down:before {
  content: "\e649";
}

.icon-ic_link:before {
  content: "\e645";
}

.icon-ic_file:before {
  content: "\e646";
}

.icon-ic_image:before {
  content: "\e647";
}

.icon-ic_folder:before {
  content: "\e648";
}

.icon-ic_plus_circle:before {
  content: "\e643";
}

.icon-ic_search:before {
  content: "\e644";
}

.icon-ic_undo:before {
  content: "\e641";
}

.icon-ic_share_internal:before {
  content: "\e642";
}

.icon-ic_schedule:before {
  content: "\e63e";
}

.icon-ic_minus_circle:before {
  content: "\e63f";
}

.icon-ic_close_circle:before {
  content: "\e640";
}

.icon-ic_archive:before {
  content: "\e639";
}

.icon-ic_nav:before {
  content: "\e63a";
}

.icon-ic_delete1:before {
  content: "\e63b";
}

.icon-ic_double_up:before {
  content: "\e63c";
}

.icon-ic_safe:before {
  content: "\e63d";
}

.icon-ic_checkbox:before {
  content: "\e634";
}

.icon-ic_shake:before {
  content: "\e635";
}

.icon-ic_lock:before {
  content: "\e636";
}

.icon-ic_close-circle-fill:before {
  content: "\e637";
}

.icon-ic_filter:before {
  content: "\e633";
}

.icon-ic_star:before {
  content: "\e62b";
}

.icon-ic_im:before {
  content: "\e62c";
}

.icon-ic_subscribed:before {
  content: "\e62d";
}

.icon-ic_mobile:before {
  content: "\e62e";
}

.icon-ic_message:before {
  content: "\e62f";
}

.icon-ic_user_group:before {
  content: "\e630";
}

.icon-ic_user:before {
  content: "\e631";
}

.icon-ic_phone:before {
  content: "\e632";
}

.icon-ic_arrow_right:before {
  content: "\e627";
}

.icon-ic_interactive:before {
  content: "\e628";
}

.icon-ic_delete:before {
  content: "\e629";
}

.icon-ic_unlock:before {
  content: "\e62a";
}

